.letusguessheadline {
    color: var(--white);
  font-family: var(--font-family-stolzl-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 192px;
  min-height: 163px;
  min-width: 670px;
  text-decoration: underline;
  text-shadow: 3px 5px 2px
#171040;
  white-space: nowrap;
}
.letusguessdescriptions {

    font-weight: 300;
}
.letusguessareas {
    color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: -0.75px;
  line-height: 39px;
}
