@import "../../styles/globals.scss";

/*========================
    Counterup Area
==========================*/
.counterholder {
// Counter Style One
.counteruparea {
    text-align: center;
    margin-top: 40px;
    h5{
        &.counter{
            line-height: 1;
            display: inline-block;
            margin-bottom: 17px;
            position: relative;
            display: inline-block;

            margin-left: -20px;
            @media #{$sm-layout} {
                font-size: 45px;
                line-height: 1;
                margin-bottom: 5px;
                margin-left: -11px;
            }xq
            &::after{
                right: -26px;
                position: absolute;
                top: -17px;
                font-size: 40px;
                content: "+";
            }
            span {

            }
        }
    }
    p{
        &.description {
            font-size: 1em;
            line-height: 1;
            padding: 0 5%;
            color: #bbbbbb;
            @media #{$md-layout} {
                font-size: 1em;
                line-height: 1;
                padding: 0;
            }
            @media #{$sm-layout} {
                font-size: 1em;
                line-height: 28px;
                padding: 0;
            }
        }
    }
}}

.counterholder {
.rn-paralax-counterup{
    .counterup_style--1{
        text-align: center;
        h5{
            &.counter{
                color: $theme-color;
            }
        }
        p{
            &.description {
                color: #bbbbbb;
            }
        }
    }
}}
.counterholder {
// Counter Style Two
.counterup_style--2 {
    text-align: center;
    h5{
        &.counter{
            font-size: 2em;
            line-height: 1;
            color: $theme-color;
            display: inline-block;
            margin-bottom: 10px;
        }
    }
    h4 {
        &.description {
            font-size: 16px;
            line-height: 1;
            padding: 0 10%;
            margin-bottom: 0;
        }
    }
}
}
.counterholder {
// Counter White Cersion
.theme-text-white{
    .counterup_style--1 {
        h5{
            &.counter{
                color: #ffffff;
            }
        }
        p{
            &.description {
                color: #ffffff;
            }
        }
    }
}
}

















