/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logostandard {
        display: none;
        visibility: hidden;
    }
    .logoab {
        display: inline-block;
        width: 50px !important;
        visibility: visible;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logostandard {
        display: none;
        visibility: hidden;
    }
    .logoab {
        display: inline-block;
        visibility: visible;

    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)  {
    .logostandard {
        display: none;
        visibility: hidden;
    }
    .logoab {
        display: inline-block;
        visibility: visible;

    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logostandard {
        display: inline-block;
        visibility: visible;

    }
    .logoab {
        display: none;
        visibility: hidden;
    }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .logostandard {
        display: inline-block;
        visibility: visible;

    }
    .logoab {
        display: none;
        visibility: hidden
    }
}
