  .app {
    background: transparent !important;
    width: 95%;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    font-family: "Mulish", serif;
font-size: 1em;
    padding: 10px;
  }

  .score-section {
    display: flex;
    font-size: 1em;
    padding: 30px;
    font-family: "Mulish", serif;
    color: #bbb;

    align-items: center;
  }

  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 95%;
    position: relative;
    padding: 2px;
    color: #bbb;
  }

  .question-count {
    margin-bottom: 20px;
  }

  .question-count span {
    font-size: 1em;
}

  .question-text {
    margin-bottom: 12px;
  }

  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    justify-content: space-between;
  }

  .question-section>button {
    width: 100%;
    font-size: 16px;
    margin: 10px 10px 10px 10px;

    color: #ffffff;
    background: linear-gradient(
      90deg,
      #6633ff 18.59%,
      #3366ff 68.36%,
      #0099ff 105%
    );
    border-radius: 15px;
    padding: 5px;
    align-items: center;
    border: 1px solid #ffffff;
    cursor: pointer;
  }

  button:hover {
    background-color: #6633ff;
  }

  button:focus {
    outline: none;
  }

  button svg {
    margin-right: 5px;
  }
