.linky {
font-family: 'Raleway', sans-serif;
font-size: 25px;
font-weight: 800;
line-height: 2;
color: transparent;
cursor: pointer;
background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
background-size: 100% 200% ;
background-position: 0% 0%;

-webkit-text-stroke: .5px white;
-webkit-background-clip: text;
-webkit-text-fill: none;

transition: all .75s ease;

&:hover {
  background-position: 0% 100%;
}}
