
<style>
html {
background-image: linear-gradient(90deg, #292929 2.11%, #000000 104.85%); font-size: 32px; color: white;"
}
        .z-canvas { background-color: transparent !important;
        position: relative !important;
        height: 700px !important;
        width: 100%;
        top: 0%;
        left: 0%;
        }
        .z-view {
        border: 1px solid white;  color: white; font-size: .9em; line-height: 20px; font-family: 'Raleway';
        }
.z-content {
width: 90%;
height: 98%;
line-height: 1em;
font-size: 1.2em;
padding: 30px;

}
.z-outer-circle {
    border-width: 1px;
    border-style: solid;
    opacity: 1;
}


.z-spot {
border-width: 1px;  font-weight: 300;  background-image: linear-gradient(90deg, #292929 2.11%, #000000 104.85%); font-size: 16px; color: white; font-family: 'Oswald';
}
    </style>
